<footer class="blog-footer">
      <p>© 抠脚大叔 Powered by <a href="">Chenlj</a> <a href="http://www.miitbeian.gov.cn/"> 粤ICP备17035396号-1</a>  <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261699843'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1261699843%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></p>

</footer>
